[submodule "build/google/noto-emoji"]
	path = build/google/noto-emoji
	url = https://github.com/googlei18n/noto-emoji.git
[submodule "build/twitter/twemoji"]
	path = build/twitter/twemoji
	url = https://github.com/jdecked/twemoji.git
