[submodule "build/emojione/emojione"]
	path = build/emojione/emojione
	url = https://github.com/Ranks/emojione.git
[submodule "build/google/noto-emoji"]
	path = build/google/noto-emoji
	url = https://github.com/googlei18n/noto-emoji.git
[submodule "build/twitter/twemoji"]
	path = build/twitter/twemoji
	url = https://github.com/twitter/twemoji.git
[submodule "build/emojione/emojione-assets"]
	path = build/emojione/emojione-assets
	url = https://github.com/emojione/emojione-assets.git
