[submodule "emojione"]
	path = emojione
	url = https://github.com/Ranks/emojione.git
[submodule "build/google/noto-emoji"]
	path = build/google/noto-emoji
	url = git@github.com:googlei18n/noto-emoji.git
